{% extends 'base.html' %}
{% block title %} NEWS {% endblock %}
{% block content %}
    <div class="container">
        <br>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6"><h3>SUNDAY OBSERVER NEWS</h3></div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<br>
				<select class="selectpicker" id="category_select">
					{% for label,val in categories %}
					<option value={{ val }}>{{ label }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<br>
		<div><h5>Search Results for: {{ comp.comp_name }}</h5></div>
        <div class="row">
			<div class="article_body">
				{% include 'article_body.html' %}
			</div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	<script>
		$('#category_select').change(function (val) {
			$('.article_body').load(
				"categories/" + "{{ comp.id }}" + "/" + $(this).val()
			);
		});
	</script>
{% endblock %}